*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(190, 207, 31)
} 
.total{
    height: 500px;
    width: 30%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-left: 450px;
    border: 1px solid rgb(7, 7, 7);
}
h1{
    padding-top: 50px;
    text-shadow: 2px 2px 2px gray;
}
input{
    padding: 10px;
    margin-top: 40px;
    border: 2px solid rgb(235, 9, 9);
}
button{
    background-color: rgb(190, 207, 31);
    color: black;
    padding: 10px;
    width: 20%;
}
