
body{
    /* text-align: center; */
    line-height: 20px;
    background-color:blue;
}
.tab{
    margin-left: 41%;
    line-height: 60px;
    
}
#myresume{
    background-color:rgb(182, 255, 206);
    /* border-radius: 50%; */
    border: 5px solid black
    
}
.top{
    
    text-align: center;
    background-color: rgb(18, 172, 199);
    border: 5px solid black;
    /* padding: 5%; */
    /* line-height: 20px; */
    
   
    
}
.imge{
    margin:14% 70% 6% 2%;
    background-color:darkgrey;
   /* border-radius: 56px; */
   border: 5px solid black;
   text-align: center;
}
.education{
    margin: -56% 24% 0% 45%;

   
}
.dec{
    background-color:cadetblue;
    text-align: center;
    border: 5px solid black;
    
    
}
.poto{
    margin: -3% 0% 0% 74%;
    
}
.student{
    margin: -11% 0% 0% 0%;
}
h2{
    font-style: italic;
    text-decoration:underline;
}
.tab{
    border-color: black;
    /* background-color:rgb(121, 182, 23); */
}
p{
    font-size:large;
}  
hr{
    border: 1px solid black;
}
table{
    /* padding: -50%; */
    width: 500px;
}
