body{
    background-color: aqua;
    text-align: center;
}
.education{
    margin-top: 40px;
}
.year{
    margin-top: 20px;
}
img{
    margin: -158px 0px 0px 917px;;
}
h1{
    margin-top: 50px;
}
b{
    color: brown;
}
